<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque, cupiditate dolor, dolores dolorum est et id minima modi necessitatibus nesciunt officia porro recusandae reprehenderit sapiente, sequi velit voluptas?</p>
<button class="action primary" data-bind="click: openRequestForm, visible: !requestAlreadySent()">
    <span translate="'Request Personal Discount'"></span>
</button>
<p data-bind="visible: requestAlreadySent()" translate="'Discount has already been requested for this product.'"></p>