<form class="form"
      action="javascript:void(0);"
      id="dv-campus-personal-discount-form"
      method="post"
      onsubmit="return false;"
      data-bind="submit: sendPersonalDiscountRequest"
>
    <fieldset class="fieldset">
        <legend class="legend">
            <span translate="'Discount Request'"></span>
            <!-- Another way to translate text: -->
            <!-- <span data-bind="i18n: 'Discount Request'"></span> -->
        </legend>
        <br/>
        <div class="field name required">
            <label class="label" for="dv-campus-personal-discount-name">
                <span translate="'Name'"></span>
            </label>
            <div class="control">
                <input id="dv-campus-personal-discount-name"
                       name="name"
                       data-bind="
                            value: customerName,
                            attr: {
                                title: $t('Name'),
                                placeholder: $t('Your Name'),
                            }
                       "
                       class="input-text"
                       type="text"
                       data-validate="{ required: true }"
                />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="dv-campus-personal-discount-email">
                <span translate="'Email'"></span>
            </label>
            <div class="control">
                <input id="dv-campus-personal-discount-email"
                       name="email"
                       data-bind="
                            value: customerEmail,
                            attr: {
                                title: $t('Email'),
                                placeholder: $t('Your Email'),
                            }
                       "
                       class="input-text"
                       type="email"
                       data-validate="{ required: true, 'validate-email': true }"
                />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="dv-campus-personal-discount-message">
                <span translate="'Message'"></span>
            </label>
            <div class="control">
                    <textarea id="dv-campus-personal-discount-message"
                              name="message"
                              data-bind="
                                    value: customerMessage,
                                    attr: {
                                        title: $t('Message'),
                                        placeholder: $t('Message'),
                                    }
                              "
                              class="input-text"
                              data-validate="{ required: true }"
                    ></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value=""/>
            <button type="submit"
                    data-bind="
                            attr: {
                                title: $t('Request a Discount')
                            }
                      "
                    class="action submit primary"
            >
                <span translate="'Request a Discount'"></span>
            </button>
        </div>
    </div>
</form>
